/* McTabs - menucool.com */

ul.mctabs
{
    height:30px; /* height #1 */
    text-align:left; /*set to left, center, or right to align the tabs as desired*/    
    font-size:0;
    margin:0;padding:0;
    list-style-type:none;
}
        
ul.mctabs li {
    display:inline;
    margin:0;padding:0;
    margin-right:3px; /*distance between tabs*/
}
        
ul.mctabs li a {
    padding:0 10px; /* edit 16px for different tab width */
    display:inline-block;    
    font-family: "Roboto","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif,'Source Sans Pro';
    font-size: 16px;
    font-weight: 400;
    line-height:30px;/* height #1 */
    text-decoration: none;
    color :#005191;
    border :1px solid #CCC; /*This color can be different from color #2 */
    border-bottom:none;
    background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
    outline:none;
    border-radius:3px 3px 0 0;
    position:relative;
}
        
ul.mctabs li a:link, ul.mctabs li a:visited {
    color:#ff6600;
}
        
ul.mctabs li a:hover
{
    border-color: #DDD; /*color #1*/
    background:#F0F0F0 url(tabbg.gif) 0 -36px repeat-x;
}
  
/*selected tab style */
ul.mctabs li.selected a
{
    color:#ff6600;
    font-weight: 600;
    border-color:#DDD; /*color #1*/
    background:white; /*color #2*/
    z-index:3;
}   
        
/*selected tab style on hover */
ul.mctabs li.selected a:hover
{
    text-decoration:none;
}

/* container of content panels */
div.panel-container
{
    border:1px solid #DDD; /*color #1*/ 
    border-radius:0 4px 4px 4px;
    background-color:white; /*color #2*/
    position:relative;    
    padding:0px; margin:0px;
}

/* content panel */       
div.panel-container > div
{
    padding:10px 6px;
    
    /* The two settings below should not be changed. */
    display: block;
    margin:0px;
}

/* loading image before ajax content is retrieved. Only applicable when Ajax is used.*/
div.ajaxLoading {background:transparent url(loading.gif) no-repeat center center; height:150px; font-size:0;padding:0; margin:0; }
